DATABASE_URL="postgres-db-name"
ACCESS_TOKEN_EXPIRY=60
SECRET="secret-e8d7e"
JWT_ALGORITHM="HS256"
GROQ_PROVIDER_API_KEY="gsk_api_key"
GROQ_PROVIER_BASE_URL="https://api.groq.com/openai/v1"
NVIDIA_BASE_URL="https://integrate.api.nvidia.com/v1"
NVIDIA_API_KEY="nvapi-nim"
EMBEDDING_MODEL="nvidia/nv-embed-v1"
CHAT_MODEL_NAME="openai/gpt-oss-20b"
TAVILY_API="tvly-dev"

ADMIN_EMAIL = "admin@gmail.com"
ADMIN_PASSWORD = "123@Qwerty"